p {
    text-align: justify;
}

#logo {
    width: 200px;
}

#logo-image {
    width: 50px;
}

#logo-text {
    width: 250px;
}

.picture {
    width: 150px;
    border-radius: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}