p {
    text-align: justify;
}

#logo {
    width: 200px;
}

#logo-only {
    width: 50px;
}

#logo-text {
    width: 250px;
}

.pictureOption {
    width: 150px;
    margin-top: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}